* {
  margin:0px;
  padding:0px;
  background: #F6F8FA;
}

img {
  display: block;
  max-height: 200px;
  margin: 50px auto;
  max-width: 98vw;
}

span {
 font: caption;
  max-width: 800px;
}

h1 {
 font-family: system-ui;
}

p, h1, span {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

p {
  margin: 50px auto;
  font: 300% Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  line-height: 1.5;
}
