* {
  margin:0px;
  padding:0px;
  background: #F6F8FA;
}

img {
  display: block;
  max-height: 200px;
  margin: 50px auto;
  max-width: 98vw;
}

p, h1, span {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

p {
  margin: 50px auto;
  font: 300% Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  line-height: 1.5;
}
