* {
  margin:0px;
  padding:0px;
  background: #F6F8FA;
}

#octocat {
  display: block;
  width:200px;
  heigth: 200px;
  margin: 50px auto;
}

p {
  width: 100%;
  display: block;
  text-align: center;
  margin: 50px auto;
  font: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  font-size: 300%;
  line-height: 1.5;
}
